.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 700px;
  margin: 20px auto;
}

.MuiFormControl-root {
  width: 100%;
}

.generated-fields {
  height: 82px;
}

.formAction {
  margin-bottom: 20px;
  text-align: left;
}

.formAction button {
  margin-right: 10px;
}
